@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes showLeft {
  0% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes formGrowDesk {
  0% {
    padding-left: calc(100% - 33rem);
  }

  100% {
    padding-left: 0;
  }
}

@keyframes formGrowDeskXL {
  0% {
    padding-left: calc(100% - 330px);
  }

  100% {
    padding-left: 0;
  }
}

@keyframes formGrowTablet {
  0% {
    padding-left: calc(100% - 21rem);
  }

  100% {
    padding-left: 0;
  }
}

@keyframes formGrowMobile {
  0% {
    padding-left: calc(100% - 10rem);
  }

  100% {
    padding-left: 0;
  }
}
